{% extends 'mainpage/base.html' %}

{% block content %}
<img class="figure" src="https://i.ibb.co/mDS6LSH/logo.png" alt="logo" width="150px" height="150px">
<h1>Placematcher</h1>
    <p class="lead">Проект программистов-энтузиастов Вани и Леры. </p>
    <p class="lead">На нашем сайте Вы можете найти новые места для встреч с друзьями, назначить им встречи и лучше узнать свой город.</p>
    <p class="lead">
      <a href="/search/" class="btn btn-lg btn-secondary text-dark">Начать поиск</a>
    </p>
{% endblock %}