{% extends 'mainpage/base.html' %}

{% block content%}

<div class="row justify-content-center">
<div class="col-lg-6">
<div class="card shadow-lg border-0 rounded-lg bg-dark mt-0 mb-3">
<div class="card-body" align="center">

    <div class="form-content">
        <form>

            <div class="form-row">
                <div class="col-md-8">
                    <div class="form-group">
                            {{place.name}}
                        <hr/>
                            {% for cat in place.category.all %}
                                {{cat}}
                            {% endfor %}
                        <hr/>
                            {% for m in place.metro.all %}
                                метро {{m}}
                            {% endfor %}
                        <hr/>
                            {{place.adress}}
                        <hr/>
                        {% if place.vk != ''%}
                            <a href="{% url 'vk' place.id %}">VK</a>
                        {% endif %}
                        <hr/>
                        {% if place.site != ''%}
                            <a href="{% url 'website' place.id %}">Сайт</a>
                        {% endif %}
                        <hr/>
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-dark btn-lg">Назад</a>
                        {% if login %}
                        <a href="{% url 'review' place.id %}" class="btn btn-dark btn-lg" >Оставить отзыв</a>
                        <a href="{% url 'favadd' place.id %}" class="btn btn-dark btn-lg" >{{text}}</a>
                        {% endif %}

                    </div>
                </div>
            </div>
            <br><br>

        </form>
    </div>
</div>
</div>
</div>
</div>

    {% if review %}
        <div class="row justify-content-center">
        <div class="col-lg-6">
        <div class="card shadow-lg border-0 rounded-lg bg-dark mt-0 mb-3">
        <div class="card-body" align="center">
            <h3>Отзывы</h3>
            {% for r in review%}

                <h6>Оценка: {{r.rating}}/5</h6>
                {% if r.text %}

                {{r.text}}
                {% endif %}
                <hr>
            {% endfor %}
        </div>
        </div>
        </div>
        </div>
    {% endif%}






{% endblock %}