{% extends 'mainpage/base.html' %}

{% block content%}
<div class="row justify-content-center">
<div class="col-lg-10">
<div class="card shadow-lg border-0 rounded-lg bg-dark mt-0 mb-3">
<div class="card-body">
    <h3>Поиск</h3>
    <form method="GET" action="." align="center" >
        <div class="msearch">
        <div class="form-row">
            <div class="form-group col-10">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="name_contains" placeholder="Название" />
                </div>
            </div>
        </div>
        </div>
        <div class="msearch">
            <div class="boxes" align="justify">
                <div class="form-row">
          <div class="col-lg-7">
              <label for="MinRating">Мин. рейтинг</label>
            <input type="number" min=0 class="form-control" id="MinRating" placeholder="0" name="min_rating">
          </div>
                </div>
                    <div class="form-row" >
          <div class="col-lg-7">
              <label for="PersonCount">Кол-во человек</label>
            <input type="number" min=0 class="form-control" id="PersonCount" placeholder="0" name="person_count">
          </div>
                    </div>
                <div class="form-row">
            <div class="col-lg-7">
                <label for="category">Категория</label>
            <select id="category" class="form-control" name="category">
              <option selected>Выбрать...</option>
              {% for cat in categories %}
              <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}
            </select>
            </div>
            </div>
        <div class="form-row">
            <div class="col-lg-7">
                <label for="metro">Ближайшее метро</label>
            <select id="metro" class="form-control" name="metro">
              <option selected>Выбрать...</option>
              {% for m in metro %}
              <option value="{{ m }}">{{ m }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
                <button type="submit" class="btn btn-primary">Искать</button>
            </div>
        </div>
    </form>
        </div>
    </div>
    </div>
    </div>
<div class="row justify-content-center">
<div class="col-lg-10">
<div class="card shadow-lg border-0 rounded-lg bg-dark mt-0 mb-3">
<div class="card-body">

    <hr />

        <div class="row" align="center">
            <ul>
                {% for place in queryset %}
                <div>
                     <a href="{% url 'place' place.id %}" >{{place.name}}</a>
                    <br>

                    <span>
                {% for cat in place.category.all %}
                        {{cat}},
                        {% endfor %}
                    </span>
                    <br>
                    <span>{% for m in place.metro.all %}
                        метро {{m}}
                        {% endfor %} </span>
                    <script>
                        /*
                        <span>Адрес: {{place.adress}}, </span>
                        <span>Рейтинг: {{place.average_rating}}, </span>
                        <span>Количество человек: {{place.min_count_of_people}}-{{place.max_count_of_people}}</span>

                         */

                    </script>
                </div>
                <hr/>
                {% endfor %}
            </ul>
        </div>
            </div>
    </div>
    </div>
    </div>
{% endblock %}